:root {
  scroll-behavior: smooth;

  --vp-c-brand: #f5aa35 !important;
  --vp-c-brand-light: #f9c97e !important;
  --vp-c-brand-lighter: #f7b041 !important;
  --vp-c-brand-dark: #ed9307 !important;
  --vp-c-brand-darker: #d68405 !important;

  --vp-custom-block-tip-bg: transparent;
  --vp-custom-block-tip-border: var(--vp-c-brand) !important;
  --vp-custom-block-tip-text: var(--vp-c-brand-darker) !important;

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    var(--vp-c-brand-dark) 50%,
    var(--vp-c-brand-darker) 50%
  ) !important;
  --vp-home-hero-image-filter: blur(168px) !important;
}

:root.dark {
  --vp-custom-block-tip-text: var(--vp-c-brand-lighter) !important;
}

html {
  overflow-x: hidden;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: #323232;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3c3c3c;
}

.VPNavBar .container .title {
  word-break: normal;
}
